/* From Uiverse.io by musashi-13 */
@keyframes autoRun3d {
  from {
    transform: perspective(800px) rotateY(-360deg);
  }
  to {
    transform: perspective(800px) rotateY(0deg);
  }
}

@keyframes animateBrightness {
  10% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.1);
  }
  90% {
    filter: brightness(1);
  }
}

.card-3d {
  position: relative;
  width: 300px;
  height: 0px;
  transform-style: preserve-3d;
  transform: perspective(800px);
  animation: autoRun3d 20s linear infinite;
  will-change: transform;
}
.card-3d img {
  position: absolute;
  width: 80px;
  height: auto;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transition-duration: 200ms;
  will-change: transform, filter;
}

@media (min-width: 640px) {
  .card-3d img {
    position: absolute;
    width: 100px !important;
    height: auto;

    border-radius: 0.5rem;
    top: 50%;
    left: 50%;
    transform-origin: center center;

    transition-duration: 200ms;
    will-change: transform, filter;
  }
}

.card-3d img:nth-child(1) {
  transform: translate(-50%, -50%) rotateY(0deg) translateZ(150px);
  animation-delay: -0s;
}

.card-3d img:nth-child(2) {
  transform: translate(-50%, -50%) rotateY(60deg) translateZ(150px);
  animation-delay: -2s;
}

.card-3d img:nth-child(3) {
  transform: translate(-50%, -50%) rotateY(120deg) translateZ(150px);
  animation-delay: -4s;
}

.card-3d img:nth-child(4) {
  transform: translate(-50%, -50%) rotateY(180deg) translateZ(150px);
  animation-delay: -6s;
}

.card-3d img:nth-child(5) {
  transform: translate(-50%, -50%) rotateY(240deg) translateZ(150px);
  animation-delay: -8s;
}

.card-3d img:nth-child(6) {
  transform: translate(-50%, -50%) rotateY(300deg) translateZ(150px);
  animation-delay: -10s;
}

.card-3d img:nth-child(7) {
  transform: translate(-50%, -50%) rotateY(360deg) translateZ(150px);
  animation-delay: -12s;
}
