.orbit-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  width: 240px;
  height: 240px;
  animation: orbit-rotate linear infinite;
}

@keyframes orbit-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.orbit-item {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* PERFECT CIRCLE ALIGNMENT */
}

.orbit-wrapper {
  width: fit-content;
  height: fit-content;
  position: relative;
}
